@charset "UTF-8";
* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

p, li, h1, h2, h3, table, div {
  line-height: 1.6;
  letter-spacing: 0.08em;
}

p, a, li {
  color: #23273C;
}

p, h1, h2, h3, figure {
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

p, span {
  font-size: 3.36vw;
}
@media screen and (min-width: 450px) {
  p, span {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 640px) {
  p, span {
    font-size: 2.34vw;
  }
}
@media screen and (min-width: 768px) {
  p, span {
    font-size: 1.52vw;
  }
}
@media screen and (min-width: 1024px) {
  p, span {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 1200px) {
  p, span {
    font-size: 1em;
  }
}

.font-bold {
  font-weight: 700;
}

a {
  transition: opacity 0.6s ease;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.6s ease;
}

.en {
  font-family: "Roboto", sans-serif;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .xl-block {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .lg-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .md-block {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  .sm-block {
    display: block;
  }
}

@media screen and (min-width: 450px) {
  .xs-block {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .sm-hidden {
    display: none;
  }
}

@media screen and (min-width: 450px) {
  .xs-hidden {
    display: none;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.mr-xxs {
  margin-right: 10px;
}

.mb-xs {
  margin-bottom: 20px;
}

.mb-sm {
  margin-bottom: 30px;
}

.mb-md {
  margin-bottom: 60px;
}

.p-sm {
  padding: 30px;
}

.pb-xxs {
  padding-bottom: 10px;
}

.pb-xs {
  padding-bottom: 20px;
}

.pb-sm {
  padding-bottom: 30px;
}

.pt-3xs {
  padding-top: 5px;
}

.pt-sm {
  padding-top: 30px;
}

.pr-sm {
  padding-right: 30px;
}

.py-sm {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-sm {
  padding-left: 30px;
  padding-right: 30px;
}

.px-xs {
  padding-left: 20px;
  padding-right: 20px;
}

.pb-md {
  padding-bottom: 60px;
}

.pt-md {
  padding-top: 60px;
}

@media screen and (min-width: 640px) {
  .sm-pb-md {
    padding-bottom: 60px;
  }
}

.border-gray {
  border: 1px solid #dcdcdc;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.text-indent {
  padding-left: 1em;
  text-indent: -1em;
}

.-z-9 {
  z-index: -9;
}

.-z-10 {
  z-index: -10;
}

.banner {
  display: block;
}

.list {
  padding-left: 1em;
  text-indent: -1em;
}
.list::before {
  content: "・";
}

.w-20 {
  width: 20%;
}

.justfy-between {
  justify-content: space-between;
}

.flex-none {
  flex: none;
}

#top {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 60px;
}
@media screen and (min-width: 640px) {
  #top {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

#main {
  width: 100%;
  margin: 0 auto;
  padding: 0 4vw;
  display: block;
}
@media screen and (min-width: 450px) {
  #main {
    padding: 0 3vw;
  }
}
@media screen and (min-width: 768px) {
  #main {
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  #main {
    width: 1000px;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding: 0 0;
  }
}
@media screen and (min-width: 768px) {
  #main .contents {
    width: 59.5vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .contents {
    width: 700px;
  }
}
#main .contents section {
  margin-bottom: 60px;
}
@media screen and (min-width: 640px) {
  #main .contents section {
    margin-bottom: 90px;
  }
}
#main .contents h1 {
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 5.4vw;
  color: #2B3467;
}
@media screen and (min-width: 640px) {
  #main .contents h1 {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 768px) {
  #main .contents h1 {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .contents h1 {
    font-size: 32px;
  }
}
#main .contents .pro-file {
  background-color: rgba(202, 206, 230, 0.1);
  padding: 6vw;
  font-size: 14px;
}
@media screen and (min-width: 640px) {
  #main .contents .pro-file {
    padding: 3vw;
  }
}
#main .contents .pro-file p {
  color: #2B3466;
}
#main .contents .pro-file .title {
  font-weight: 700;
  font-size: 4.8vw;
  border-bottom: 1px dotted #2B3466;
  color: #2B3466;
}
@media screen and (min-width: 640px) {
  #main .contents .pro-file .title {
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  #main .contents .pro-file .title {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .contents .pro-file .title {
    font-size: 24px;
  }
}
#main .contents .pro-file .sub-title {
  font-size: 10px;
  color: #2B3466;
}
#main .contents .pro-file .company {
  padding-bottom: 10px;
  font-size: 4.2vw;
  font-weight: 600;
  color: #2B3466;
}
@media screen and (min-width: 450px) {
  #main .contents .pro-file .company {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 640px) {
  #main .contents .pro-file .company {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  #main .contents .pro-file .company {
    font-size: 2.2vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .contents .pro-file .company {
    font-size: 20px;
  }
}
#main .contents .pro-file .position {
  font-size: 10px;
  color: #2B3466;
}
#main .contents .pro-file .name {
  font-weight: 600;
  padding-bottom: 30px;
  font-size: 4.2vw;
  color: #2B3466;
}
@media screen and (min-width: 450px) {
  #main .contents .pro-file .name {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 640px) {
  #main .contents .pro-file .name {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  #main .contents .pro-file .name {
    font-size: 2.2vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .contents .pro-file .name {
    font-size: 20px;
  }
}
#main .highlight {
  color: #EB455F;
  font-weight: 600;
}

.index-inner {
  border-top: 5px solid;
  border-image-source: linear-gradient(70deg, #CACEE6 0%, #2B3467 100%);
  border-image-slice: 1;
}
.index-inner .index-border .index {
  padding: 6vw;
  position: relative;
  border-bottom: 1px solid rgba(202, 206, 230, 0.5);
  border-left: 1px solid rgba(202, 206, 230, 0.5);
  border-right: 1px solid rgba(202, 206, 230, 0.5);
}
@media screen and (min-width: 640px) {
  .index-inner .index-border .index {
    padding: 3vw;
  }
}
.index-inner .index-border .index .title {
  font-weight: 700;
  font-size: 4.8vw;
  border-bottom: 1px dotted #2B3466;
  color: #2B3466;
}
@media screen and (min-width: 640px) {
  .index-inner .index-border .index .title {
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .index-inner .index-border .index .title {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1200px) {
  .index-inner .index-border .index .title {
    font-size: 24px;
  }
}
.index-inner .index-border .index .sub-title {
  font-size: 10px;
  color: #2B3466;
}
.index-inner .index-border .index h2 {
  text-align: left;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 4.8vw;
  color: #2B3466;
}
@media screen and (min-width: 640px) {
  .index-inner .index-border .index h2 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .index-inner .index-border .index h2 {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1200px) {
  .index-inner .index-border .index h2 {
    font-size: 24px;
  }
}
.index-inner .index-border .index article {
  padding-bottom: 20px;
}
.index-inner .index-border .index article:nth-last-of-type(1) {
  padding-bottom: 0;
}
.index-inner .index-border .index article .index-title {
  display: inline-flex;
  padding-bottom: 10px;
}
.index-inner .index-border .index article .index-title span {
  color: #2B3466;
}
.index-inner .index-border .index article .index-title span:first-child {
  font-weight: 700;
  font-size: 18px;
  padding-right: 1em;
}

#inner-article article div {
  background-color: rgba(202, 206, 230, 0.1);
  position: relative;
  overflow: hidden;
  border-top: 5px solid;
  border-image-source: linear-gradient(70deg, #CACEE6 0%, #2B3467 100%);
  border-image-slice: 1;
}
@media screen and (min-width: 640px) {
  #inner-article article div {
    border: none;
  }
}
@media screen and (min-width: 640px) {
  #inner-article article div::before {
    position: absolute;
    width: 3px;
    height: 150%;
    content: "";
    left: 4%;
    right: 0;
    transform: rotate(-10deg);
    top: -10%;
    background: linear-gradient(70deg, #CACEE6 0%, #2B3467 100%);
  }
}
@media screen and (min-width: 640px) {
  #inner-article article div::after {
    position: absolute;
    width: 3px;
    height: 150%;
    content: "";
    left: 4%;
    transform: rotate(10deg);
    top: -10%;
    background: linear-gradient(70deg, #CACEE6 0%, #2B3467 100%);
  }
}
#inner-article article div h2 {
  padding: 20px 8vw 20px 8vw;
  color: #2B3466;
  font-weight: 700;
  font-size: 4.8vw;
}
@media screen and (min-width: 640px) {
  #inner-article article div h2 {
    font-size: 4vw;
    padding: 20px 30px 20px 70px;
  }
}
@media screen and (min-width: 768px) {
  #inner-article article div h2 {
    font-size: 2.4vw;
  }
}
@media screen and (min-width: 1200px) {
  #inner-article article div h2 {
    font-size: 24px;
  }
}
#inner-article article .heading {
  font-weight: 600;
  font-size: 4.2vw;
  color: #2B3466;
}
@media screen and (min-width: 450px) {
  #inner-article article .heading {
    font-size: 3.6vw;
  }
}
@media screen and (min-width: 640px) {
  #inner-article article .heading {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 768px) {
  #inner-article article .heading {
    font-size: 2.2vw;
  }
}
@media screen and (min-width: 1200px) {
  #inner-article article .heading {
    font-size: 20px;
  }
}

.side {
  display: none;
}
@media screen and (min-width: 768px) {
  .side {
    width: 20vw;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .side {
    width: 240px;
  }
}
.side .side-wrapper {
  position: sticky;
}
@media screen and (min-width: 768px) {
  .side .side-wrapper {
    top: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .side .side-wrapper {
    top: 120px;
  }
}
.side .category p {
  text-align: center;
  font-weight: 600;
  background: linear-gradient(180deg, #434E88 0%, #2B3467 100%);
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  border-radius: 8px;
}
.side .category a li {
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid rgba(202, 206, 230, 0.5);
  display: flex;
  align-items: center;
}
.side .category a li::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../common/svg/dot.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-right: 30px;
  filter: brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(4459%) hue-rotate(197deg) brightness(88%) contrast(92%);
}

#main .inner-article .related-title {
  font-weight: 700;
  font-size: 3.6vw;
}
@media screen and (min-width: 640px) {
  #main .inner-article .related-title {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 768px) {
  #main .inner-article .related-title {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1200px) {
  #main .inner-article .related-title {
    font-size: 18px;
  }
}
#main .inner-article .related-articla {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  row-gap: 30px;
}
@media screen and (min-width: 450px) {
  #main .inner-article .related-articla {
    gap: 30px;
  }
}
#main .inner-article .related-articla section {
  grid-column: span 12/span 12;
  margin-bottom: 0;
}
@media screen and (min-width: 640px) {
  #main .inner-article .related-articla section {
    grid-column: span 6/span 6;
  }
}
#main .inner-article .related-articla section figcaption {
  display: grid;
  gap: 0 10px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
#main .inner-article .related-articla section figcaption figure {
  grid-column: span 4/span 4;
}
@media screen and (min-width: 450px) {
  #main .inner-article .related-articla section figcaption figure {
    grid-column: span 3/span 3;
  }
}
@media screen and (min-width: 640px) {
  #main .inner-article .related-articla section figcaption figure {
    grid-column: span 5/span 5;
  }
}
#main .inner-article .related-articla section figcaption div {
  grid-column: span 8/span 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 450px) {
  #main .inner-article .related-articla section figcaption div {
    grid-column: span 9/span 9;
  }
}
@media screen and (min-width: 640px) {
  #main .inner-article .related-articla section figcaption div {
    grid-column: span 7/span 7;
  }
}
#main .inner-article .related-articla section figcaption div span {
  font-size: 12px;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-auto {
  grid-column: auto;
}

.col-span-1 {
  grid-column: span 1/span 1;
}

.col-span-2 {
  grid-column: span 2/span 2;
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.col-span-4 {
  grid-column: span 4/span 4;
}

.col-span-5 {
  grid-column: span 5/span 5;
}

.col-span-6 {
  grid-column: span 6/span 6;
}

.col-span-7 {
  grid-column: span 7/span 7;
}

.col-span-8 {
  grid-column: span 8/span 8;
}

.col-span-9 {
  grid-column: span 9/span 9;
}

.col-span-10 {
  grid-column: span 10/span 10;
}

.col-span-11 {
  grid-column: span 11/span 11;
}

.col-span-12 {
  grid-column: span 12/span 12;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}/*# sourceMappingURL=css.css.map */